Repository Harlem-Launch-Alliance/Catalyst-2, pull requests merged in 2022-07, with the labels that each got.

#34 Moving changes to main branch
  main/apogee.h
  main/gps.h
  main/gy521_imu.h
  main/main.ino
  main/settings.h
  sensor-testing/GY521_Electrosome/GY521_Electrosome.ino
Labels: enhancement, accelerometer, GPS

#35 Initial Contribution Guidelines
  GETTING_STARTED.md
  README.md
Labels: documentation

#41 Adi's change
  main/bmp_altimeter.h
Labels: documentation, altimeter

#42 made changes with adi
  GETTING_STARTED.md
  README.md
Labels: documentation
